.container{
    width: 700px;
    margin-left: 23%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


h1 {
    text-align: center;
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    margin: 0;
}


div {
    text-align: center;
    margin-top: 20px;
}

#task-input {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#add-task {
    padding: 10px 20px;
    background-color: #2ecc71;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-top: 20px;
}

li {
    margin: 10px 0;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    background-color: #d5d5d5;
}

label {
    display: block;
    margin-top: 20px;
    text-align: center;
}

input[type="checkbox"] {
    margin-right: 10px;
}
